@import "tailwindcss";
@import "../styles/legacy.css";

@theme inline {
	--color-primary: #135bec;
	--color-background-light: #f6f6f8;
	--color-background-dark: #101622;
	--color-brutal-black: #000000;

	--font-display: "Space Grotesk", sans-serif;
	--font-condensed: "Barlow Condensed", sans-serif;
}

html,
body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-display);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100dvh;
}